<table>
<tr>
<td>
<!--Note: do not put any text in span including newlines. text of any kind breakes the finishgame function -->
<span id="leftdiv" class="left eqDisplay" align="center" style="display:table-cell; vertical-align:middle;background-color: white;" ondrop="drop(event,'leftdiv')" ondragover="allowDrop(event)"></span>
</td><td>=</td><td>
<!--Note: do not put any text in span including newlines. text of any kind breakes the finishgame function -->
<span id="rightdiv" class="right eqDisplay" align="center" style="display:table-cell; vertical-align:middle;background-color: white;" ondrop="drop(event,'rightdiv')" ondragover="allowDrop(event)"></span>
</td>
</tr>
</table>