<!-- 
***********************************
tourniment menu
***********************************
-->

<div id="TournimentMenu" style="margin-Top: -50% !important;" class="buttonList vertical-center menu">
<button id="mpTourniment" onclick="HandleTransition('TournimentMatching')">Join</button>
<button id="mpRanked" onclick="HandleTransition('RankedMatching')">Create</button>
<button id="mpCasual" onclick="HandleTransition('CasualMatching')">Random</button>
</br>
<center><button id="eqBack" onclick="HandleTransition('MultiPlayerGameMode')">Back</button></center>
</div>

<!-- 
***********************************
create tourniment
***********************************
-->

<!-- 
***********************************
join tourniment
***********************************
-->

<!-- 
***********************************
tourniment connect
***********************************
-->


<!-- 
***********************************
tourniment lobbSy
***********************************
-->





